h1 {
    text-align: center;
    padding: 50px 0;
}

.descProjet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 0 20px;
}

.descProjet .textDesc {
    width: 50%;
    margin: auto;
}



.descProjet .textDesc li {
    margin-left: 50px;
}

.descProjet .textDesc a:hover {
    color: #F26522;
}


.containerSlider {
    max-width: 600px;
    margin: auto;
    
}
  
.slider img {
    max-width: 100%;
    display: none;
}

img.active {
    display: block;
    animation: fade 0.8s;
}
@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.cont-btn {
    width: 100%;
    height: auto;
    background: #171717;
    box-shadow: 0 10px 10px #1C1C1C;
    display: flex;
    justify-content: space-around;
}

.btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}

.btn-nav :hover {
    color: #F26522;
}