* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: all ease 0.3s;
}

html {
    background: #111111;
    scroll-behavior: smooth;
}

/* ------------------- TITRE PAGES ------------------- */
.title {
    display: flex;
	align-items: center;
    font-size: 34px;
    margin: 100px 0;
}

.title h1 {
    color: rgba(255, 255, 255, 0.24);
}

.title .lg {
    border: 3px solid rgba(255, 255, 255, 0.24);
}

.title .little {
    width: 91px;
    margin-right: 45px;
}

.title .big {
    width: 100%;
    margin-left: 45px;
}

/* ------------------- AUTRES ------------------- */
o {
    color: #F26522;
}

#projects .projectCard:hover, .accordion:hover {
    box-shadow: 20px 30px 0px #1C1C1C;
}

/* ------------------- HEADER ------------------- */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111111;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1;
}

header a {
    text-decoration: none;
}

header a:hover {
    color: #F26522;
}

header .scroll {
    color: #F26522;
}

header .lg {
    border: 1px solid white;
    width: 90px;
    margin: 0 10px;
}

/* ------------------- ACCUEIL ------------------- */
#accueil {
    width: 100%;
    height: 400px;
    margin-top: 80px;
    text-align: center;
    color: white;
}

#accueil h1 {
    font-size: 128px;
    padding-top: 100px;
    
}

#accueil h2 {
    font-size: 22px;
    color: #F26522;
}

#accueil h1 .wrap {
    color: white;
}

#accueil h1 a {
    text-decoration: none;
}

/* ------------------- A PROPOS ------------------- */
#aPropos {
    font-size: 24px;
}

#aPropos .descCard {
    width: 645px;
    height: 336px;
    background: #171717;
    box-shadow: 10px 20px 0px #1C1C1C;
    border-radius: 50px;
    text-align: center;
    padding-top: 25px;
}

#aPropos .descCard .languages {
    margin-top: 30px;
    text-align: left;
}

#aPropos .descCard .languages h1 {
    font-size: 24px;
    text-decoration: underline;
    margin-left: 65px;
    margin-bottom: 5px;
}

#aPropos .descCard .languages p {
    margin-left: 150px;
}

#aPropos .corps {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ------------------- PROJETS ------------------- */


#projects .blocCard {
    display: flex;
    justify-content: space-around;
}

#projects .projectCard {
    width: 295px;
    height: 317.68px;
    border-radius: 20px;
    background: #171717;
    box-shadow: 10px 20px 0px #1C1C1C;
    margin: 50px 0;    
}



#projects .projectCard h1 {
    text-align: center;
    font-size: 16px;
    margin-top: 27px;
    padding: 0 34px;
}

#projects .projectCard #apercuProjet {
    margin: 20px 34px;
    width: 227px;
    height: 120px;
}

#projects .projectCard .blocBtn {
    display: flex;
    justify-content: space-between;
    margin: 0 34px;
}

#projects .projectCard .blocBtn a{
    text-decoration: none;
}

#projects .projectCard .blocBtn .btn {
    border: none;
    border-radius: 10px;
    background: white;
    color: black;
    font-size: 15px;
    height: 40px;
    padding: 0 11px;
    cursor: pointer;
}

#projects .projectCard .blocBtn .btn:hover {
    background: #F26522;
    color: white;
}

#projects .projectCard .blocBtn .btnGit {
    width: 113px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#projects .projectCard .blocBtn .btnGit img{
    width: 31px;
}


/* ------------------- COMPÉTENCES ------------------- */
.accordion {
    margin: 50px auto;
    width: 80%;
    list-style: none;     
    background: #171717;
    box-shadow: 10px 20px 0px #1C1C1C;
    border-radius: 30px;
    font-size: 25px;
    cursor: pointer;
}

.accordion-head {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.accordion-head:hover > h4 {
    color: #F26522;
}

.accordion-head:hover > i {
    color: #F26522;
}
    
.accordion-head .ouvrir, .accordion-head .fermer {
    font-size: 32px;
}

.accordion-head, .accordion-inner, .accordion-content { 
    overflow: hidden; 
    /* masque les débordement de contenus */
}          

.accordion-inner { 
    transition: height 1s; 
    /* applique l'animation de plier / déplier */
}       

.accordion-binded .accordion-inner { 
    height: 0; 
    /* plie les contenus dès que le script a été chargé */
}

.accordion-head .ouvrir {
    display: block;
}

.accordion-head .fermer {
    display: none;
}

.accordion-active .ouvrir {
    display: none;
}

.accordion-active .fermer {
    display: block;
}

#competences p {
    padding: 30px 50px;
    padding-top: 0;
    font-size: 20px;
}



#competences .justificatifs {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#competences .justificatifs h1 {
    margin-left: 50px;
    font-size: 20px;
}

#competences .justificatifs .lien {
    margin-left: 100px;
    font-size: 19px;
}

#competences .justificatifs a:hover {
    color: #F26522;
}

/* ------------------- FOOTER ------------------- */
footer {
    width: 100%;
    height: 110px;
    background: #171717;
    

    bottom:0;
}

footer .btn {
    width: 33%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
}

footer .btn:hover {
    color: #F26522;
}

footer .btn:hover > o {
    color: white;
}

footer .btnLeft{
   border-right: 3px solid white;
}

footer .btnRight {
    border-left: 3px solid white;
}

